
body {
    background-color: #69C4CC;
     }

#login {text-align: right;}
#owl-logo {
  background-color: white;}

#mainpage {background-color: white}

#topbuttons {text-align: right; padding: none;}
#about {background-color: #69C4CC; color: white;}
#contact {background-color: #8CB82C;color: white;}
#blog {background-color: #6F308B;color: white;}
#press {background-color: #E9168C;color: white;}

/*navigation bar hme page*/

#hpnavbar {background-color: #F3CECD;}


#twins {float: right;}
/*homepage text color*/
